In [1]:
import pandas as pd #Analysis 
import matplotlib.pyplot as plt #Visulization
import seaborn as sns #Visulization
import numpy as np #Analysis 
from scipy.stats import norm #Analysis 
from sklearn.preprocessing import StandardScaler #Analysis 
from scipy import stats #Analysis 
import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline

from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error
import gc
import lightgbm as lgb

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import BayesianRidge

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_idx = test['key']

### 데이터 전처리 준비작업
- 인천 수정
- Validation 구축

인천의 경우 서울보다는 부산에 가까워서 city를 부산으로 수정

In [2]:
test.loc[test['key']==1503614,'city'] = 0

데이터가 시간의 순서대로 이루어져 있어서 Merge과정에서 순서가 깨지지 않도록 index컬럼을 생성해서 sort작업을 진행해줄것임. 
- 이를 안해주면 fold에서 다른 cv값이 나옴

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error

train_len = train.shape[0]
df_all = pd.concat([train,test])

index = []
for i in range(0,df_all.shape[0]):
    index.append(i)
df_all['index'] = index

train = df_all[:train_len].reset_index(drop=True)
df_test = df_all[train_len:].reset_index(drop=True)

df_train_busan = train[train['city']==0]
df_test_busan = df_test[df_test['city']==0]
df_train_seoul = train[train['city']==1]
df_test_seoul = df_test[df_test['city']==1]

신뢰성 있는 Validation 구축을 위해서 아파트 별로 가장 마지막 거래를 Validation으로 추출

In [4]:
busan_val_idx = df_train_busan.groupby(['apartment_id']).tail(1).index
busan_valid = df_train_busan.loc[busan_val_idx,:]
busan_valid = busan_valid[['key','transaction_real_price']]

seoul_val_idx = df_train_seoul.groupby(['apartment_id']).tail(1).index
seoul_valid = df_train_seoul.loc[seoul_val_idx,:]
seoul_valid = seoul_valid[['key','transaction_real_price']]

In [5]:
del df_train_busan,df_train_seoul,df_test_busan,df_test_seoul
del df_test,train,df_all
gc.collect()

60

### 데이터 전처리
- 트레인은 날짜가 고른 반면, 테스트는 2018년도 6월 이후가 압도적으로 많음. 샘플링 작업이 필요.
- 방과 화장실 0인 값 대체 : 동일한 아파트에서 비슷한 크기에 값이 존재하면 그로 채워넣고, 그렇지 않으면 비슷한 크기에서 median으로 채워 넣음. 
- 방과 화장실 결측치 대체 : 동일한 아파트에서 비슷한 크기에 값이 존재하면 그로 채워넣고, 그렇지 않으면 비슷한 크기에서 median으로 채워 넣음. 
- 주차장의 결측치는 0으로 대체
- 난방과 현관구조는 None으로 대체

In [6]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_idx = test['key']
test.loc[test['key']==1503614,'city'] = 0

train_up1 = train[train['transaction_year_month']>201806]
train_up1['transaction_real_price'] = train_up1['transaction_real_price'] + 10000000

train_up2 = train[train['transaction_year_month']>201806]
train_up2['transaction_real_price'] = train_up2['transaction_real_price'] + 5000000

train = pd.concat([train,train_up1])
train = pd.concat([train,train_up2])
train = train.reset_index(drop=True)
del train_up1,train_up2
gc.collect()

from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error

train_len = train.shape[0]
df_all = pd.concat([train,test])

index = []
for i in range(0,df_all.shape[0]):
    index.append(i)
df_all['index'] = index

In [7]:
### 0인 값 대체
df_all.loc[(df_all['apartment_id']==2805) & (df_all['supply_area'] > 90),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==2805) & (df_all['supply_area'] > 90),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==895) & (df_all['supply_area'] > 137),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==895) & (df_all['supply_area'] > 137),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==903) & (df_all['supply_area'] > 135),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==903) & (df_all['supply_area'] > 135),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==1622) & (df_all['supply_area'] == 127.07),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==1622) & (df_all['supply_area'] == 127.07),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==14029) & (df_all['supply_area'] > 100),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==14029) & (df_all['supply_area'] > 100),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==14029) & (df_all['supply_area'] < 100),'room_count'] = 2
df_all.loc[(df_all['apartment_id']==14029) & (df_all['supply_area'] < 100),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==12067) & (df_all['supply_area'] >= 95),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==12067) & (df_all['supply_area'] >= 95),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==12067) & (df_all['supply_area'] == 92),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==12067) & (df_all['supply_area'] == 92),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==12067) & (df_all['supply_area'] < 90),'room_count'] = 2
df_all.loc[(df_all['apartment_id']==12067) & (df_all['supply_area'] < 90),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==360) & (df_all['supply_area'] == 189.99),'room_count'] = 5
df_all.loc[(df_all['apartment_id']==360) & (df_all['supply_area'] == 189.99),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==360) & (df_all['supply_area'] == 154.46),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==360) & (df_all['supply_area'] == 154.46),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==568) & (df_all['supply_area']//10 == 11.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==568) & (df_all['supply_area']//10 == 11.0),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==1543) & (df_all['supply_area'] > 150 ),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==1543) & (df_all['supply_area'] > 150),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==618) & (df_all['supply_area'] == 92.94),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==618) & (df_all['supply_area'] == 92.94),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==618) & (df_all['supply_area'] == 110.57),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==618) & (df_all['supply_area'] == 110.57),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==4368) & (df_all['supply_area'] > 90),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==4368) & (df_all['supply_area'] > 90),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==4368) & (df_all['supply_area'] < 90),'room_count'] = 2
df_all.loc[(df_all['apartment_id']==4368) & (df_all['supply_area'] < 90),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==3701) & (df_all['supply_area'] == 148.55),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==3701) & (df_all['supply_area'] == 148.55),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==346) & (df_all['supply_area'] > 100),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==346) & (df_all['supply_area'] > 100),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==1524) & (df_all['supply_area'] == 104.39),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==1524) & (df_all['supply_area'] == 104.39),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==1524) & (df_all['supply_area'] == 175.60),'room_count'] = 5
df_all.loc[(df_all['apartment_id']==1524) & (df_all['supply_area'] == 175.60),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 9.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 9.0),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 10.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 10.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 13.0),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 13.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 14.0),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area']//10 == 14.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==1112) & (df_all['supply_area']//10 == 7.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==1112) & (df_all['supply_area']//10 == 7.0),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==65) & (df_all['supply_area']//10 == 11.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==65) & (df_all['supply_area']//10 == 11.0),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==541) & (df_all['supply_area']//10 == 8.0),'room_count'] = 2
df_all.loc[(df_all['apartment_id']==541) & (df_all['supply_area']//10 == 8.0),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==184) & (df_all['supply_area'] == 66.12),'room_count'] = 2
df_all.loc[(df_all['apartment_id']==184) & (df_all['supply_area'] == 66.12),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==2601) & (df_all['supply_area'] == 104.97),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==2601) & (df_all['supply_area'] == 104.97),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==6161) & (df_all['supply_area'] == 99.91),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==6161) & (df_all['supply_area'] == 99.91),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==3685) & (df_all['supply_area'] == 115.70),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==3685) & (df_all['supply_area'] == 115.70),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==21288) & (df_all['supply_area'] == 116.03),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==21288) & (df_all['supply_area'] == 116.03),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==10636) & (df_all['supply_area'] == 112.40),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==10636) & (df_all['supply_area'] == 112.40),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==1162) & (df_all['supply_area'] == 154.71),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==1162) & (df_all['supply_area'] == 154.71),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==10989) & (df_all['supply_area'] == 110.51),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==10989) & (df_all['supply_area'] == 110.51),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==11096) & (df_all['supply_area'] == 97.09),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==11096) & (df_all['supply_area'] == 97.09),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==184) & (df_all['supply_area'] == 69.42),'room_count'] = 2
df_all.loc[(df_all['apartment_id']==184) & (df_all['supply_area'] == 69.42),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==534) & (df_all['supply_area'] //10 == 11.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==534) & (df_all['supply_area'] //10 == 11.0),'bathroom_count'] = 1

df_all.loc[(df_all['apartment_id']==17384) & (df_all['supply_area'] //10 == 11.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==17384) & (df_all['supply_area'] //10 == 11.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area'] //10 == 10.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==431) & (df_all['supply_area'] //10 == 10.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==4058) & (df_all['supply_area'] //10 == 9.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==4058) & (df_all['supply_area'] //10 == 9.0),'bathroom_count'] = 2

#df_all.loc[(df_all['apartment_id']==1388) & (df_all['room_count']==0)]
df_all.loc[(df_all['apartment_id']==1388) & (df_all['supply_area'] //10 == 14.0),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==1388) & (df_all['supply_area'] //10 == 14.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==7136) & (df_all['supply_area'] //10 == 7.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==7136) & (df_all['supply_area'] //10 == 7.0),'bathroom_count'] = 1

#df_all.loc[(df_all['apartment_id']==18737)]
df_all.loc[(df_all['apartment_id']==18737) & (df_all['supply_area'] //10 == 17.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==18737) & (df_all['supply_area'] //10 == 17.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==18741) & (df_all['supply_area'] >= 160),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==18741) & (df_all['supply_area'] >= 160),'bathroom_count'] = 2

#df_all.loc[(df_all['apartment_id']==18732)]

df_all.loc[(df_all['apartment_id']==18732) & (df_all['supply_area'] //10 == 11.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==18732) & (df_all['supply_area'] //10 == 11.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==18732) & (df_all['supply_area'] //10 == 18.0),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==18732) & (df_all['supply_area'] //10 == 18.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==360) & (df_all['supply_area'] //10 == 16.0),'room_count'] = 4
df_all.loc[(df_all['apartment_id']==360) & (df_all['supply_area'] //10 == 16.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==8460) & (df_all['supply_area'] //10 == 8.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==8460) & (df_all['supply_area'] //10 == 8.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==6175) & (df_all['supply_area'] > 290),'room_count'] = 5
df_all.loc[(df_all['apartment_id']==6175) & (df_all['supply_area'] > 290),'bathroom_count'] = 3

df_all.loc[(df_all['apartment_id']==6232)]
df_all.loc[(df_all['apartment_id']==6232) & (df_all['supply_area'] //10 == 19.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==6232) & (df_all['supply_area'] //10 == 19.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==15502) & (df_all['supply_area'] //10 == 10.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==15502) & (df_all['supply_area'] //10 == 10.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==568) & (df_all['supply_area'] //10 == 19.0),'room_count'] = 5
df_all.loc[(df_all['apartment_id']==568) & (df_all['supply_area'] //10 == 19.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==16837) & (df_all['supply_area'] //10 == 9.0),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==16837) & (df_all['supply_area'] //10 == 9.0),'bathroom_count'] = 2

df_all.loc[(df_all['apartment_id']==37468) & (df_all['supply_area']  <= 200),'room_count'] = 3
df_all.loc[(df_all['apartment_id']==37468) & (df_all['supply_area']  <= 200),'bathroom_count'] = 2

#### 결측치 대체
- 방, 화장실은 위와 동일한 방식으로 채워넣음.
- 주차장의 경우 0으로 대체. dacon에 물어본 결과 결측치는 0이라고 했음.
- 히트 및 현관의 결측치는 None으로 대체.

In [8]:
### 방과 화장실 결측치
df_all.loc[df_all['apartment_id'] == 9005, ['room_count']] = 1
df_all.loc[df_all['apartment_id'] == 9005, ['bathroom_count']] = 1

df_all.loc[df_all['apartment_id'] == 1179, ['room_count']] = 4
df_all.loc[df_all['apartment_id'] == 1179, ['bathroom_count']] = 2

df_all.loc[df_all['apartment_id'] == 10627, ['room_count']] = 3
df_all.loc[df_all['apartment_id'] == 10627, ['bathroom_count']] = 1

df_all.loc[(df_all['apartment_id'] == 10627) & (df_all['supply_area'] == 56.61), ['room_count']] = 2
df_all.loc[(df_all['apartment_id'] == 10627) & (df_all['supply_area'] == 56.61), ['bathroom_count']] = 1

df_all.loc[(df_all['apartment_id'] == 7992) , ['room_count']] = 3
df_all.loc[(df_all['apartment_id'] == 7992) & (df_all['supply_area'] <= 81), ['bathroom_count']] = 1
df_all.loc[(df_all['apartment_id'] == 7992) & (df_all['supply_area'] > 81), ['bathroom_count']] = 2

df_all.loc[(df_all['apartment_id'] == 7118) & (df_all['supply_area'] == 75.55), ['room_count']] = 3
df_all.loc[(df_all['apartment_id'] == 7118) & (df_all['supply_area'] == 75.55), ['bathroom_count']] = 1

df_all.loc[(df_all['apartment_id'] == 7118) & (df_all['supply_area']//10 == 5.0), ['room_count']] = 2
df_all.loc[(df_all['apartment_id'] == 7118) & (df_all['supply_area']//10 == 5.0), ['bathroom_count']] = 1

df_all.loc[(df_all['apartment_id'] == 4047) & (df_all['supply_area']//10 == 11.0), ['room_count']] = 3
df_all.loc[(df_all['apartment_id'] == 4047) & (df_all['supply_area']//10 == 11.0), ['bathroom_count']] =2

df_all.loc[(df_all['apartment_id'] == 37175) & (df_all['supply_area'] < 80), ['room_count']] = 2
df_all.loc[(df_all['apartment_id'] == 37175) & (df_all['supply_area'] < 80), ['bathroom_count']] = 1

df_all.loc[(df_all['apartment_id'] == 37175) & (df_all['supply_area'] > 80), ['room_count']] = 3
df_all.loc[(df_all['apartment_id'] == 37175) & (df_all['supply_area'] > 80), ['bathroom_count']] = 2

In [9]:
### 주차장 결측치
df_all.loc[(df_all['total_parking_capacity_in_site'].isnull()), ['total_parking_capacity_in_site']] = 0

In [10]:
### 히트 결측치
df_all.loc[(df_all['heat_type'].isnull()), ['heat_type']] = 'None'
df_all.loc[(df_all['heat_fuel'].isnull()), ['heat_fuel']] = 'None'

In [11]:
### 현관구조 결측치
df_all.loc[(df_all['heat_fuel'].isnull()), ['front_door_structure']] = 'None'

### 파생변수 생성

In [12]:
### 용적률(容積率)은 건축 용어로 전체 대지면적에 대한 건물 연면적의 비율을 뜻하며 백분율로 표시한다. 
### 용적률이 높을수록 건축할 수 있는 연면적이 많아져 건축밀도가 높아지므로, 적정 주거환경을 보장하기 위하여 용적률의 상한선을 지정한다.
df_all['effective_ratio'] = (df_all['exclusive_use_area'] / df_all['supply_area']) * 100

In [13]:
### 시간을 좀 더 세부적으로 나타냄. 
df_all['transaction_date1'] = df_all.transaction_date.apply(lambda x: x[-2:])
#convert int to date
df_all['transaction_year_month1'] = df_all['transaction_year_month'].astype(str)
#join month and date 
df_all['transaction_year_month_date'] = df_all[['transaction_year_month1', 'transaction_date1']].apply(lambda x: ''.join(x), axis=1)
#convert  month and date to datetime 
df_all['transaction_year_month_date'] = pd.to_datetime(df_all['transaction_year_month_date'] )
#reindext datetime
del df_all['transaction_date1']; del df_all['transaction_year_month1']

In [14]:
### 계산의 편의성을 위해 날짜를 만들어 둠.
df_all['year'] = df_all['transaction_year_month_date'].dt.year
df_all['month'] = df_all['transaction_year_month_date'].dt.month
df_all['month'] = df_all['month'].apply(lambda x : x-1 if x%2 == 0 else x)
df_all['mean_year_month'] = df_all['year']*100 + df_all['month']
del df_all['year']
del df_all['month']

In [15]:
### 동일한 아파트의 가장 최근의 거래와 현재 거래의 차이를 계산
df_all['last_month'] = df_all.groupby(['apartment_id'])['transaction_year_month'].shift(1)
df_all['diff_month'] = df_all['transaction_year_month'] - df_all['last_month']
del df_all['last_month']

### 방의 총 갯수 ( 화장실 + 방 )
df_all['total_room'] = df_all['room_count'] + df_all['bathroom_count']

### Last_price_1과 3은 동일한 아파트의 면적대비 거래액을 의미. 추가로 현재 면적을 곱해줘야 함. 
df_all['last_price_1'] = df_all['transaction_real_price']/df_all['exclusive_use_area']
df_all['last_price_1'] = df_all.groupby(['apartment_id'])['last_price_1'].shift(1)

df_all['last_price_3'] = df_all['transaction_real_price']/df_all['supply_area']
df_all['last_price_3'] = df_all.groupby(['apartment_id'])['last_price_3'].shift(1)

df_all['last_area'] = df_all.groupby(['apartment_id'])['exclusive_use_area'].shift(1)
df_all['last_transaction_year_month'] = df_all.groupby(['apartment_id'])['transaction_year_month'].shift(1)
#df_all['transaction_real_price'] = np.log1p(df_all['transaction_real_price'])

df_all['last_price_1'] = df_all['last_price_1'] * df_all['exclusive_use_area'] #현재 면적을 곱해줘서 비교를 가능하게 만듬.
df_all['last_price_3'] = df_all['last_price_3'] * df_all['supply_area'] #현재 면적을 곱해줘서 비교를 가능하게 만듬.
del df_all['last_area'],df_all['last_transaction_year_month']

### log를 씌어줘서 정규성을 띄게 만듬. 
df_all['last_price_1'] = np.log1p(df_all['last_price_1'])
df_all['last_price_3'] = np.log1p(df_all['last_price_3'])
df_all['transaction_real_price'] = np.log1p(df_all['transaction_real_price'])

### 빌딩의 간격계산
df_all['difference_building_height'] = df_all['tallest_building_in_sites'] - df_all['lowest_building_in_sites']
### 세대당 주차수 계산
df_all['capacity_per_household'] = df_all['total_parking_capacity_in_site']/df_all['total_household_count_in_sites']

### 아파트당 세대 수 계산
df_all['household_per_building'] = df_all['total_household_count_in_sites']/df_all['apartment_building_count_in_sites']

### 아파트당 타입의 비율 계산
df_all['areahousehold_per_household'] = df_all['total_household_count_of_area_type']/df_all['total_household_count_in_sites']

df_all['year'] = df_all['transaction_year_month']//100

### 거래된 기간과 완성된 년도의 차이 계산
df_all['transaction_diff_completion'] = df_all['transaction_year_month'] - df_all['year_of_completion']

### 몇번째 층인지 비율 계산
df_all['floor_ratio'] = df_all['floor']/df_all['tallest_building_in_sites']

### 재개발 예정인지 가중치 줌. 
### 35를 상한선으로 잡은것은 이 이상이 되면 재개발 될 거라는 심리가 떨어져서 임.
df_all['weight'] = 0
df_all.loc[((df_all['year']-df_all['year_of_completion']) >= 25) & ((df_all['year']-df_all['year_of_completion']) < 35) & (df_all['effective_ratio'] >= 80) & (df_all['tallest_building_in_sites'] <=5),'weight'] = 1

### Subway, school 정보

In [16]:
### 아래의 파일은 따로 첨부한 코드에 계산식이 나와있습니다.
### Apartment_subway : 0.5, 1km내에 몇개의 지하철이 있냐, 몇개의 호선이 있냐
### Apartment_gd_hd : 강남 및 해운대로부터의 거리가 얼마나 되냐
### apartment_school : 0.5km 내에 초,중,고등학교가 있냐 없냐. total_0.5는 3개 중에서 몇개가 있는지
### min_distance_apartment : 가장 가까운 초,중,고,지하철의 거리
apartment = pd.read_csv("Apartment_subway.csv")
apartment1 = apartment[['apartment_id','subwayline_count_0.5','subwayline_count_1','subway_count_0.5','subway_count_1']]
apartment2 = pd.read_csv("Apartment_ga_hd.csv")
apartment2 = apartment2[['apartment_id','gangnam_dist']]
apartment3 = pd.read_csv("apartment_school.csv")
apartment3 = apartment3[['apartment_id','elementary_0.5','middle_0.5','high_0.5','total_0.5']]
apartment4 = pd.read_csv("min_distance_apartment.csv")
apartment4 = apartment4[['apartment_id','subway_min_distance','min_distance_ele','min_distance_middle','min_distance_high']]
#apartment4 = pd.read_csv("apartment_bub.csv")
#apartment4 = apartment4[['apartment_id','gu','dong']]
df_all = pd.merge(df_all,apartment1,on='apartment_id').reset_index(drop=True)
df_all = pd.merge(df_all,apartment2,on='apartment_id').reset_index(drop=True)
df_all = pd.merge(df_all,apartment3,on='apartment_id').reset_index(drop=True)
df_all = pd.merge(df_all,apartment4,on='apartment_id').reset_index(drop=True).sort_values('index') #index

### 공공데이터
- 사용목록과 코드는 따로 첨부하였습니다.

### 쇼핑몰
busan_shop = pd.read_csv("(0119)busan_shop.csv")
busan_shop = busan_shop[['apartment_id','shop_count_0.5','shop_count_1']]
df_all = pd.merge(df_all,busan_shop,on='apartment_id').reset_index(drop=True).sort_values('index') #index

In [17]:
df_all = df_all.reset_index(drop=True)

### 대학교
university = pd.read_csv('apartment_public.csv')
university = university[['apartment_id','univ_1,2']]
df_all = pd.merge(df_all,university,on='apartment_id').reset_index(drop=True).sort_values('index') #index

In [18]:
### 구청
public = pd.read_csv('apartment_public.csv')
public = public[['apartment_id','public_1']]
public['public_1'] = public['public_1'].apply(lambda x: 1 if x>1 else x)
df_all = pd.merge(df_all,public,on='apartment_id').reset_index(drop=True).sort_values('index') #index

### 스타벅스
coffee = pd.read_csv("(0122)starbucks_list.csv")
coffee = coffee[['apartment_id','shop_count_1']]
coffee.columns = ['apartment_id','coffee_count_1']
df_all = pd.merge(df_all,coffee,on='apartment_id').reset_index(drop=True)
#df_all['distance_from_hangang_6.0'] = df_all['distance_from_hangang_6.0'].apply(lambda x: 1 if x >=1 else 0)

### PCA

In [19]:
from sklearn.decomposition import PCA, KernelPCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA, FastICA,NMF,LatentDirichletAllocation,IncrementalPCA,MiniBatchSparsePCA
from sklearn.decomposition import TruncatedSVD,FactorAnalysis,KernelPCA

train_df = df_all.loc[df_all['transaction_real_price'] != 0]
test_df = df_all.loc[df_all['transaction_real_price'] == 0]

train_len = train_df.shape[0]

### 날짜와 object, 공공데이터는 제거. 
train_columns = [c for c in train_df.columns if c not in ['key','transaction_real_price','transaction_year_month_date','transaction_date','heat_type','heat_fuel',
                                                          'front_door_structure','shop_count_0.5','shop_count_1','univ_1,2','public_1','coffee_count_0.5']]
train_columns

# PCA
n_comp = 1

# ICA
ica = FastICA(n_components=n_comp, random_state=2019)
ica2_results_train = ica.fit_transform(train_df[train_columns].fillna(-1))
ica2_results_test = ica.transform(test_df[train_columns].fillna(-1))

for i in range(1, n_comp+1):
    train_df['ica_' + str(i)] = ica2_results_train[:,i-1]
    test_df['ica_' + str(i)] = ica2_results_test[:, i-1]
    train_columns.append('ica_' + str(i))

df_all = pd.concat([train_df,test_df])
df_all = df_all.sort_values('index').reset_index(drop=True)

In [20]:
### 날짜 형식변경
df_all['transaction_date1'] = df_all.transaction_date.apply(lambda x: x[-2:])
#convert int to date
df_all['transaction_year_month1'] = df_all['transaction_year_month'].astype(str)
#join month and date 
df_all['transaction_year_month_date'] = df_all[['transaction_year_month1', 'transaction_date1']].apply(lambda x: ''.join(x), axis=1)
df_all['transaction_year_month_date'] = df_all['transaction_year_month_date'].astype(int)
del df_all['transaction_date1']; del df_all['transaction_year_month1']
del df_all['transaction_year_month']; del df_all['transaction_date'] ; del df_all['year']

In [21]:
### One-hot-encoding
df_all = pd.get_dummies(df_all)
train = df_all[:train_len]
df_test = df_all[train_len:]
del df_all
train = train.sort_values('index')
df_test = df_test.sort_values('index')

### 거리의 경우 너무 크면 의미가 없어서 상관관계를 통해서 파악한 16을 기준으로 잘라버림. 
train['gangnam_dist'] = train['gangnam_dist'].apply(lambda x: 16 if x > 16 else x)
df_test['gangnam_dist'] = df_test['gangnam_dist'].apply(lambda x: 16 if x > 16 else x)

### LIGHTGBM 모델

In [22]:
excluded_features = [
    'transaction_real_price'
]

categorical_features = [
    'apartment_id'
]

In [23]:
del train['mean_year_month']
del df_test['mean_year_month']

In [24]:
df_train_busan = train[train['city']==0].reset_index(drop=True)
df_test_busan = df_test[df_test['city']==0].reset_index(drop=True)
df_train_seoul = train[train['city']==1].reset_index(drop=True)
df_test_seoul = df_test[df_test['city']==1].reset_index(drop=True)

### 부산

In [25]:
busan_val_idx = df_train_busan.groupby(['apartment_id']).tail(1).index
busan_trx_idx = set(df_train_busan.index).difference(busan_val_idx)
busan_train = df_train_busan.loc[busan_trx_idx,:]
busan_valid = df_train_busan.loc[busan_val_idx,:]

busan_train = busan_train.sort_values('index')
busan_valid = busan_valid.sort_values('index')
df_test_busan = df_test_busan.sort_values('index')


import time

y_train = busan_train['transaction_real_price'].reset_index(drop=True)

x_train = busan_train.copy().reset_index(drop=True)
del x_train['city']; del x_train['transaction_real_price']; del x_train['key']; del x_train['public_1']; 

excluded_features = ['key','index']
train_features = [_f for _f in x_train.columns if _f not in excluded_features]

y_valid = busan_valid['transaction_real_price'].reset_index(drop=True)

x_valid = busan_valid.copy().reset_index(drop=True)
x_valid_key = x_valid['key'].values
del x_valid['city']; del x_valid['transaction_real_price']; del x_valid['key']; del x_valid['public_1']; 

busan_key = df_test_busan['key'].values
x_test = df_test_busan[train_features].reset_index(drop=True)

In [26]:
oof_preds = np.zeros(x_valid.shape[0])
sub_preds = np.zeros(x_test.shape[0])

start = time.time()
valid_score = 0

feature_importance_df = pd.DataFrame()

trn_x, trn_y = x_train[train_features], y_train
val_x, val_y = x_valid[train_features], y_valid

train_data = lgb.Dataset(data=trn_x, label=trn_y)
valid_data = lgb.Dataset(data=val_x, label=val_y)   

params = {"objective" : "regression", "metric" : "rmse", 'n_estimators':50000, 'early_stopping_rounds':125,
                  "num_leaves" : 30, "learning_rate" : 0.016, "bagging_fraction" : 0.9,
                   "bagging_seed" : 0}

lgb_model = lgb.train(params, train_data, valid_sets=[train_data, valid_data], verbose_eval=1000) 

oof_preds = lgb_model.predict(val_x, num_iteration=lgb_model.best_iteration)
sub_pred = lgb_model.predict(x_test, num_iteration=lgb_model.best_iteration) 
sub_preds = sub_pred 

    #print('Fold %2d rmse : %.6f' % (n_fold + 1, np.sqrt(mean_squared_error(val_y, oof_preds[val_idx]))))
valid_score = mean_squared_error(val_y, oof_preds)

fold_importance_df = pd.DataFrame()
fold_importance_df["feature"] = train_features
fold_importance_df["importance"] = lgb_model.feature_importance()
feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)

gc.collect()

print('Full rmse score %.6f\n' % np.sqrt(mean_squared_error(np.expm1(y_valid), np.expm1(oof_preds))))

Training until validation scores don't improve for 125 rounds.
[1000]	training's rmse: 0.0934108	valid_1's rmse: 0.097885
[2000]	training's rmse: 0.0848274	valid_1's rmse: 0.0924123
[3000]	training's rmse: 0.079864	valid_1's rmse: 0.0885951
[4000]	training's rmse: 0.0764913	valid_1's rmse: 0.0858297
[5000]	training's rmse: 0.073998	valid_1's rmse: 0.0835829
[6000]	training's rmse: 0.0720416	valid_1's rmse: 0.081495
[7000]	training's rmse: 0.0704481	valid_1's rmse: 0.0797976
[8000]	training's rmse: 0.0691189	valid_1's rmse: 0.0784812
[9000]	training's rmse: 0.0679746	valid_1's rmse: 0.0773612
[10000]	training's rmse: 0.0669611	valid_1's rmse: 0.0764462
[11000]	training's rmse: 0.0660637	valid_1's rmse: 0.0754559
[12000]	training's rmse: 0.0652538	valid_1's rmse: 0.074449
[13000]	training's rmse: 0.064501	valid_1's rmse: 0.0735393
[14000]	training's rmse: 0.0638064	valid_1's rmse: 0.0728309
[15000]	training's rmse: 0.0631782	valid_1's rmse: 0.0721628
[16000]	training's rmse: 0.062586	valid_1's rmse: 0.0716169
[17000]	training's rmse: 0.0620231	valid_1's rmse: 0.0710673
[18000]	training's rmse: 0.0614993	valid_1's rmse: 0.0705554
[19000]	training's rmse: 0.0610064	valid_1's rmse: 0.0701055
[20000]	training's rmse: 0.0605355	valid_1's rmse: 0.0697037
[21000]	training's rmse: 0.0600838	valid_1's rmse: 0.0693015
[22000]	training's rmse: 0.0596486	valid_1's rmse: 0.0688946
Early stopping, best iteration is:
[22030]	training's rmse: 0.059636	valid_1's rmse: 0.0688768
Full rmse score 18336098.037621

In [27]:
x_valid['transaction_real_price'] = oof_preds
x_valid['key'] = x_valid_key
x_valid = x_valid[['key','transaction_real_price']]

x_valid.to_csv("LGB_Testfile_LB5150_busan_valid_LV.csv",index=False)

In [28]:
x_test['transaction_real_price'] = sub_preds
x_test['key'] = busan_key
x_test.to_csv("LGB_Testfile_LB5150_busan_test_LV.csv",index=False)

sub_busan_not = x_test[['key','transaction_real_price']]

### 서울

In [29]:
seoul_val_idx = df_train_seoul.groupby(['apartment_id']).tail(1).index
seoul_trx_idx = set(df_train_seoul.index).difference(seoul_val_idx)
seoul_train = df_train_seoul.loc[seoul_trx_idx,:]
seoul_valid = df_train_seoul.loc[seoul_val_idx,:]

seoul_train = seoul_train.sort_values('index')
seoul_valid = seoul_valid.sort_values('index')
df_test_seoul = df_test_seoul.sort_values('index')

import time

y_train = seoul_train['transaction_real_price'].reset_index(drop=True)

x_train = seoul_train.copy().reset_index(drop=True)
del x_train['city']; del x_train['transaction_real_price']; del x_train['key'];  del x_train['ica_1']

excluded_features = ['key','index']
train_features = [_f for _f in x_train.columns if _f not in excluded_features]

y_valid = seoul_valid['transaction_real_price'].reset_index(drop=True)

x_valid = seoul_valid.copy().reset_index(drop=True)
x_valid_key = x_valid['key'].values
del x_valid['city']; del x_valid['transaction_real_price']; del x_valid['key']; del x_valid['ica_1']

seoul_key = df_test_seoul['key'].values
x_test = df_test_seoul[train_features].reset_index(drop=True)

In [30]:
oof_preds = np.zeros(x_valid.shape[0])
sub_preds = np.zeros(x_test.shape[0])

start = time.time()
valid_score = 0

feature_importance_df = pd.DataFrame()

trn_x, trn_y = x_train[train_features], y_train
val_x, val_y = x_valid[train_features], y_valid

train_data = lgb.Dataset(data=trn_x, label=trn_y)
valid_data = lgb.Dataset(data=val_x, label=val_y)   

params = {"objective" : "regression", "metric" : "rmse", 'n_estimators':50000, 'early_stopping_rounds':125,
                  "num_leaves" : 25, "learning_rate" : 0.11, "bagging_fraction" : 0.9,
                   "bagging_seed" : 0, "lambda_l1" : 0.1}

lgb_model = lgb.train(params, train_data, valid_sets=[train_data, valid_data], verbose_eval=1000) 

oof_preds = lgb_model.predict(val_x, num_iteration=lgb_model.best_iteration)
sub_pred = lgb_model.predict(x_test, num_iteration=lgb_model.best_iteration) 
sub_preds = sub_pred 

    #print('Fold %2d rmse : %.6f' % (n_fold + 1, np.sqrt(mean_squared_error(val_y, oof_preds[val_idx]))))
valid_score = mean_squared_error(val_y, oof_preds)

fold_importance_df = pd.DataFrame()
fold_importance_df["feature"] = train_features
fold_importance_df["importance"] = lgb_model.feature_importance()
feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)

gc.collect()

print('Full rmse score %.6f\n' % np.sqrt(mean_squared_error(np.expm1(y_valid), np.expm1(oof_preds))))

Training until validation scores don't improve for 125 rounds.
[1000]	training's rmse: 0.0690856	valid_1's rmse: 0.0771424
[2000]	training's rmse: 0.0621533	valid_1's rmse: 0.0663221
[3000]	training's rmse: 0.0584456	valid_1's rmse: 0.0596813
[4000]	training's rmse: 0.0559001	valid_1's rmse: 0.0556213
[5000]	training's rmse: 0.0539285	valid_1's rmse: 0.052467
[6000]	training's rmse: 0.0523089	valid_1's rmse: 0.0499012
[7000]	training's rmse: 0.0508973	valid_1's rmse: 0.0479889
[8000]	training's rmse: 0.0496604	valid_1's rmse: 0.0464096
[9000]	training's rmse: 0.0485713	valid_1's rmse: 0.045119
[10000]	training's rmse: 0.0475866	valid_1's rmse: 0.0438229
[11000]	training's rmse: 0.0466468	valid_1's rmse: 0.0426761
[12000]	training's rmse: 0.045812	valid_1's rmse: 0.0417601
[13000]	training's rmse: 0.0450043	valid_1's rmse: 0.040938
[14000]	training's rmse: 0.044263	valid_1's rmse: 0.0402414
[15000]	training's rmse: 0.0435732	valid_1's rmse: 0.0395608
[16000]	training's rmse: 0.0429163	valid_1's rmse: 0.0389311
[17000]	training's rmse: 0.0422919	valid_1's rmse: 0.0384248
[18000]	training's rmse: 0.0416869	valid_1's rmse: 0.0379387
[19000]	training's rmse: 0.0410994	valid_1's rmse: 0.0374184
[20000]	training's rmse: 0.0405535	valid_1's rmse: 0.0369548
[21000]	training's rmse: 0.0400287	valid_1's rmse: 0.0365622
[22000]	training's rmse: 0.0395142	valid_1's rmse: 0.036198
[23000]	training's rmse: 0.0390115	valid_1's rmse: 0.035957
[24000]	training's rmse: 0.038546	valid_1's rmse: 0.0356066
[25000]	training's rmse: 0.0380972	valid_1's rmse: 0.035345
Early stopping, best iteration is:
[25815]	training's rmse: 0.0377395	valid_1's rmse: 0.0351376
Full rmse score 29344525.158187

In [31]:
x_valid['transaction_real_price'] = oof_preds
x_valid['key'] = x_valid_key
x_valid = x_valid[['key','transaction_real_price']]

x_valid.to_csv("LGB_Testfile_LB5150_seoul_valid_LV.csv",index=False)

In [32]:
x_test['transaction_real_price'] = sub_preds
x_test['key'] = seoul_key

x_test.to_csv("LGB_Testfile_LB5150_seoul_test_LV.csv",index=False)
sub_seoul = x_test[['key','transaction_real_price']]

### 제출

In [33]:
sub = pd.concat([sub_busan_not,sub_seoul])
sub.head()

       key  transaction_real_price
0  1253422               18.633868
1  1369751               18.786149
2  1389544               18.359986
3  1394472               19.804171
4  1395869               19.325865

In [34]:
sub['transaction_real_price'] = np.expm1(sub['transaction_real_price'])
sub = sub.sort_values('key')
sub = sub.reset_index(drop=True)
sub.to_csv("LGB_Testfile_LB5150_LV.csv",index=False)